.form-control:focus {
    border-color: #2cad28;
    box-shadow: none;
    outline: 0 none;
}

.text-button {
    display: inline-block;
    cursor: pointer;
}

.text-button:hover {
    text-decoration: underline;
}
